.container{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 24px;

    &_left{
        max-width: 92.5%;
        margin-right: 0;
        padding-right: 0;
    }

    &_right{
        max-width: 92.5%;
        margin-left: 0;
        padding-left: 0;
    }
}
